/*
HOTLIKE.NET
@Author: Nguyen Trung Hau (HDPro)(Ken)
@Version: 1.0.01
@Build: 01/06/2017
@Contact: https://www.facebook.com/KEN.HD.PRO
*/

@import url(bootstrap.min.css);
@import url(bootstrap-reset.css);
@import url(../assets/font-awesome/css/font-awesome.css);
@import url(../assets/font-awesome/css/font-awesome-animation.css);
@import url(owl.carousel.css);
@import url(slidebars.css);
@import url(toastr.min.css);
@import url(style.css);
@import url(style-responsive.css);
@import url(button.css);